# Ignore everything
*
*/*

!src
!src/**
!test
!test/**
!docs
!docs/**
!packages
!packages/**
packages/**/dist
packages/**/node_modules
packages/**/next-unified-query-core-*.tgz
packages/**/next-unified-query-*.tgz
packages/**/coverage
packages/**/coverage/**
!scripts
!scripts/**
!apps
!apps/**
apps/example/research/**
apps/docs/docs-server.log
!biome.json
!tsconfig.json
!tsup.config.ts
!pnpm-workspace.yaml
!package.json
!README.md
!README-KR.md
!CHANGELOG-KR.md
!CHANGELOG.md
!API.md
!USER_GUIDE.md
!PERFORMANCE.md
!next-type-fetch-e2e
!next-type-fetch-e2e/**
next-type-fetch-e2e/next-type-fetch-*
packages/**/.DS_Store



.autopr.json
.taskmaster
